fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.captionWrap {
  font-size: var(--brand-font-size--small);
}

.disabledDiv {
  pointer-events: none;
}

.checkboxWrapper > input:disabled {
  background-color: var(--brand-color-dark-grey) !important;
}

.pointerEvent {
  pointer-events: none !important;
}

.checkedDisable {
  opacity: 0.4 !important;
  @extend .pointerEvent;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  padding: 0;
  accent-color: var(--brand-color-text-blue);

  + label {
    display: flex;
    cursor: pointer;

    &::before {
      border-radius: 2px;
      width: 18px;
      height: 18px;
      border: 1px solid var(--brand-color-text-light-slate);
    }

    &::after {
      border-radius: 2px;
      width: 18px;
      height: 18px;
      border: 1px solid var(--brand-color-text-light-slate);
      transition: 0.5s border-color ease;
    }
  }

  &:checked {
    + label::before {
      border: 1px solid var(--brand-color-primary-blue);
      display: inline-block;
      width: 18px;
      height: 18px;
      transform: none;
      visibility: visible;
      border-radius: 2px;
      background-color: var(--brand-color-primary-blue);
    }
  }

  &:checked {
    + label::after {
      border-color: transparent;
      width: 18px;
      height: 18px;
      display: inline-block;
      border-bottom: 2px solid var(--brand-color-general-white);
      border-right: 2px solid var(--brand-color-general-white);
      border-radius: 0;
      transition: 0.5s border-color ease;
    }
  }

  &:focus-visible + label::before {
    outline: 2px solid var(--brand-color-secondary-active-yellow-1);
    outline-offset: 1px;
  }
}

.direction-row {
  flex-direction: row;
}

.direction-column {
  flex-direction: column;
}

.checkboxWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexWrapStyle {
  width: 197px;
  padding-bottom: 6px;
}
