:root {
  --brand-color-primary: #007cc1;
  --brand-color-primary--hover: #1e394e;
  --brand-color-primary-background: #627386;

  --brand-color-secondary: #f7c91e;
  --brand-color-secondary--hover: #faf5e2;
  --brand-color-secondary-background: #bce8f1;

  --brand-color-background: #e9f0f5;
  --brand-color-background-grey: #c3d1d7;
  /*--brand-color-background-white: #ffffff;*/
  --brand-color-border-grey: #b6c5cc;

  --brand-color-black: #1e394e;
  --brand-color-cool-blue: #f2f6fa;
  --brand-color-font-black: #181818;
  --brand-color-grey: #1a202c;
  --brand-color-light-grey: #eaf1f6;
  --brand-color-black-1: #181818;
  --brand-color-warm-grey: #fbfbfa;
  --brand-color-cool-grey-2: #e5e8ea;
  --brand-color-cool-grey-3: #e8e4df;

  --brand-color-primary-slate: #3c5c6e;
  --brand-color-primary-blue: #007cc1;
  --brand-color-primary-yellow: #f7c91e;
  --brand-color-primary-black: #181818;

  --brand-color-patient-primary-1: #c6d7df;
  --brand-color-patient-primary-2: #bacad1;
  --brand-color-patient-primary-3: #b3c2c9;
  --brand-color-patient-secondary: #e9f0f5;

  --brand-color-grey-scale-cool-1: #bac5cc;
  --brand-color-grey-scale-cool-2: #e5e8ea;
  --brand-color-grey-scale-cool-3: #f2f6fa;

  --brand-color-grey-scale-warm-1: #d9d8d7;
  --brand-color-grey-scale-warm-2: #f3f2f1;
  --brand-color-grey-scale-warm-3: #fbfbfa;
  --brand-color-grey-scale-warm-4: #f0f3f5;

  --brand-color-background-white: #ffffff;
  --brand-color-background-warm-grey-3: #fbfbfa;
  --brand-color-background-blue-2: #00669e;
  --brand-color-background-blue-3: #005483;
  --brand-color-background-cool-grey-3: #f2f6fa;
  --brand-color-background-light-slate: #627386;
  --brand-color-background-dark-slate: #1e394e;

  --brand-color-text-black: #181818;
  --brand-color-text-blue: #007cc1;
  --brand-color-text-skyblue: #79b9de;

  --brand-color-text-dark-slate: #1e394e;
  --brand-color-text-light-slate: #627386;
  --brand-color-text-cool-grey: #bac5cc;

  --brand-color-secondary-active-yellow-1: #f7c91e;
  --brand-color-secondary-active-yellow-2: #faf0c8;
  --brand-color-secondary-active-yellow-3: #faf5e2;
  --brand-color-secondary-active-yellow-4: #fefcf7;

  --brand-color-success-green-1: #2e8540;
  --brand-color-success-green-2: #48a463;
  --brand-color-success-green-3: #8dd6a3;
  --brand-color-success-green-4: #e7f4e4;

  --brand-color-warning-coral: #ff5b42;
  --brand-color-warning-orange-1: #d3722e;
  --brand-color-warning-orange-2: #ecb672;
  --brand-color-warning-orange-3: #f9e6cf;
  --brand-color-warning-orange-4: #db3a29;
  --brand-color-warning-red-4: #f9e9e8;
  --brand-color-warning-red-2: #cb4039;

  --brand-color-warning-dark-coral: #db3a29;

  --brand-color-dark-box-shadow-1: rgba(38, 44, 54, 0.4);

  --brand-color-general-white: #ffffff;
  --brand-color-general-black: #000000;
  --brand-color-general-offwhite: #dcebf5;
  --brand-color-dark-grey: #cbced2;
}
