@import url("https://fonts.googleapis.com/css?family=Nunito:ital,wght@0,400;1,400&display=swap");

:root {
  --brand-font-family-body: "Nunito", sans-serif;
  --brand-font-family-primary: "Nunito", sans-serif;

  --brand-font-size--8: 0.8rem;
  --brand-font-size--10: 1rem;
  --brand-font-size--extra-small: 1.2rem;
  --brand-font-size--small: 1.4rem;
  --brand-font-size--15: 1.5rem;
  --brand-font-size--default: 1.6rem;
  --brand-font-size--17-4: 1.74rem;
  --brand-font-size--large: 1.8rem;
  --brand-font-size--20: 2rem;
  --brand-font-size--22: 2.2rem;
  --brand-font-size--24: 2.4rem;
  --brand-font-size--44: 4.4rem;
  --brand-font-size--49: 4.9rem;
  --brand-font-size--50: 5rem;
  --brand-font-size--54: 5.4rem;
  --brand-font-size--28: 2.8rem;
  /*1.6 rem = 16px*/

  --brand-font-weight-700: 700;
  --brand-font-weight-600: 600;
  --brand-font-weight-400: 400;

  --brand-line-height-primary: normal;
  --brand-line-height-11: 1.1rem;
  --brand-line-height--small: 1.4rem;
  --brand-line-height--1-44: 1.44rem;
  --brand-line-height--medium: 1.6rem;
  --brand-line-height--large: 1.8rem;
  --brand-line-height--m-large: 2rem;
  --brand-line-height--x-large: 2.2rem;
  --brand-line-height--24: 2.4rem;
  --brand-line-height--26: 2.6rem;
  --brand-line-height--xx-large: 2.8rem;
  --brand-line-height--32: 3.2rem;
}
