:root {
  --brand-border-radius--0-05: 0.05rem;
  --brand-border-radius--3: 0.3rem;
  --brand-border-radius--4: 0.4rem;
  --brand-border-radius--6: 0.6rem;
  --brand-border-radius--8: 0.8rem;
  --brand-border-radius--10: 1rem;
  --brand-border-radius--16: 1.6rem;
  --brand-border-radius--22-5: 2.25rem;

  --brand-border-radius-50-per: 50%;
}
