@import "../../../../assets/scss/abstracts/mixins";

.errorTitle {
  font-weight: var(--brand-font-weight-700);
  font-size: var(--brand-font-size--24);
  line-height: var(--brand-line-height--xx-large);
  letter-spacing: -0.001em;
  color: var(--brand-color-black);
}

.errorSubtitle {
  font-weight: var(--brand-font-weight-400);
  font-size: var(--brand-font-size--default);
  line-height: var(--brand-line-height--m-large);

  letter-spacing: -0.001em;
  color: var(--brand-color-black);
}

.d_flex {
  display: flex;
  gap: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  background: var(--brand-color-warm-grey);
  margin: 0 15px;
  flex-direction: column-reverse;

  @include respond(md) {
    align-items: center;
    flex-direction: row;
    gap: 86px;
  }
}

.d_flexInline {
  display: flex;
  gap: 30px;
  justify-content: center;
  background: var(--brand-color-warm-grey);
  margin: 0 15px;
  flex-direction: column-reverse;
}

.wrapper {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  gap: 8px;
}

.border {
  background-color: var(--brand-color-general-white);
  border: 1px solid var(--brand-color-text-cool-grey);
  border-radius: var(--brand-border-radius--8);
  padding: 16px 24px;
}
