fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.captionWrap {
  font-size: var(--brand-font-size--small);
}

.disabledDiv {
  input[type="radio"] {
    &:checked {
      + label::after {
        opacity: 0.5;
      }
    }
    + label {
      cursor: not-allowed !important;
    }
  }
}

.radioGroupWrapper {
  .radioWrapper {
    padding-right: 10px;
    margin-bottom: 10px;

    input[type="radio"] {
      width: 1px;
      height: 1px;
      border: 0;
      clip: rect(0 0 0 0);
      margin: -1px;
      overflow: hidden;
      padding: 0;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      &:focus-visible {
        outline: 0 !important;
      }

      + label {
        position: relative;
        display: inline-block;
        cursor: pointer;
        font-size: var(--brand-font-size--extra-small);
        line-height: 1.6rem;
        padding-left: 24px;
        padding-top: 5px;

        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 50%;
          border: 1px solid var(--brand-color-primary);
          transition: transform ease 0.13s;
          transform: scale3d(0, 0, 0);
        }

        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          left: 0;
          top: 2px;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          transition: border-color ease 0.28s;
          transition-duration: 0.2s;
          border: 1px solid var(--brand-color-text-light-slate);
        }
      }

      &:checked {
        + label::before {
          background: transparent;
          border-color: transparent;
          transform: scale3d(0.6, 0.6, 1);
        }
      }

      &:checked {
        + label::after {
          border-color: var(--brand-color-primary);
          border-width: 6px;
          width: 18px;
          height: 18px;
        }
      }

      &:focus-visible + label::after {
        outline: 2px solid var(--brand-color-secondary);
        outline-offset: 1px;
      }
    }
  }
}

.direction-row {
  flex-direction: row;
}

.direction-column {
  flex-direction: column;
}

.flexWrapStyle {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--brand-font-size--small);
  font-weight: var(--brand-font-weight-600);
  line-height: var(--brand-line-height--large);
  color: var(--brand-color-font-black);
}

.radioBtnWidth-15 {
  width: 197px;
}

.radioBtnWidth-7 {
  width: 112px;
}

.radioGroupOtherInput {
  max-width: 300px;
  min-width: 100%;
  height: 3.8rem;
  padding: 0.9rem 1.2rem;
  border-radius: 0.6rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: var(--brand-color-primary-background);
}

.radioGroupOtherInput:focus-visible {
  outline: 0.1rem solid transparent !important;
  border-radius: 0.6rem !important;
  border-color: var(--brand-color-secondary-active-yellow-1);
}

.radioGroupOtherInput:read-only {
  background: var(--brand-color-cool-blue);
  color: var(--brand-color-text-black);
  border: none;
}

.radioGroupCustomWrapper {
  padding-left: 30px;
}

.radioGroupCustomLabel {
  padding-bottom: 2px;
  font-weight: var(--brand-font-weight-400);
  font-size: var(--brand-font-size--extra-small);
  line-height: var(--brand-line-height--medium);
  letter-spacing: 0.001em;
}

.dropdownSubField {
  width: 80%;
  padding-left: 30px;
  padding-bottom: 15px;
}
.requiredIcon {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-left: 8px;
  display: inline;
  color: var(--brand-color-warning-orange-4);
}
.captionWrap {
  svg {
    margin-left: 5px;
  }
}
