@import "../../../../assets/scss/abstracts/mixins";

.datePickerContainer {
  display: flex;
  gap: 12px;
  flex-direction: column;
  margin-bottom: 4px;
  @include respond(sm) {
    flex-direction: row;
  }
}

.datePickerLabel {
  font-style: normal;
  font-weight: var(--brand-font-weight-400);
  font-size: var(--brand-font-size--10);
  line-height: var(--brand-line-height--small);
  letter-spacing: 0.002em;
  color: var(--brand-color-black);
  margin-bottom: 2px;
  display: inline-block;
}

.dateInput {
  width: 100%;
  height: 26px;
  background: var(--brand-color-background-white);
  border: 1px solid var(--brand-color-black);
  border-radius: 4px;
  padding: 5px 8px;
  font-style: normal;
  font-weight: var(--brand-font-weight-600);
  font-size: var(--brand-font-size--extra-small);
  line-height: var(--brand-line-height--medium);
  letter-spacing: 0.001em;
  color: var(--brand-color-font-black);
}

.dateInputMd {
  height: 32px;
  padding: 7px 10px;
}

.dateInputLg {
  height: 38px;
  padding: 9px 12px;
}

// modal styles starts

.dateRangeContainer {
  display: flex;
  flex-direction: column;
  height: 100dvh;

  @include respond(md) {
    height: 100vh;
  }
}

.dateRangeHeader {
  height: 48px;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dateRangeCloseIcon {
  width: 14px;
  height: 14px;
}

.dateRangeClearIcon {
  width: 14px;
  height: 14px;
}

.dateRangeFooter {
  height: 48px;
  padding: 8px 16px;
}

.dateRangeBody {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.dateRangeBtnConfirm {
  width: 100%;
  z-index: 9999;
}

// modal styles ends

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%; 

  .label {
    font-style: normal;
    font-weight: var(--brand-font-weight-400);
    font-size: var(--brand-font-size--10);
    line-height: var(--brand-line-height--small);
    letter-spacing: 0.002em;
    color: var(--brand-color-black);
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }
  .labelmd {
    font-weight: var(--brand-font-weight-400);
    font-size: var(--brand-font-size--extra-small);
    line-height: var(--brand-line-height--medium);
  }
  .labellg {
    font-weight: var(--brand-font-weight-400);
    font-size: var(--brand-font-size--extra-small);
    line-height: var(--brand-line-height--medium);
  }
  .withLabel {
    justify-content: space-between;
  }
  .withLabelContainer {
    flex-shrink: 0;
  }
  .requiredIcon {
    display: inline;
    width: 6px;
    height: 6px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .dateRangePickerWrapper {
    display: inline;
    position: relative;
    width: 500px;
  }
  .inputField {
    background: var(--brand-color-background-white);
    border: 1px solid var(--brand-color-primary-background);
    border-radius: 4px !important;
    font-style: normal;
    font-weight: var(--brand-font-weight-600);
    font-size: var(--brand-font-size--extra-small);
    line-height: var(--brand-line-height--medium);
    letter-spacing: 0.001em;
    color: var(--brand-color-font-black);
    padding: 5px 26px 5px 8px;
    margin-bottom: 2px;
    width: 100%;
    height: 26px;
  }
  .inputFieldmd {
    height: 32px;
    padding: 7px 10px;
    font-size: var(--brand-font-size--small);
    line-height: var(--brand-line-height--m-large);
  }
  .inputFieldlg {
    height: 38px;
    padding: 9px 12px;
    font-size: var(--brand-font-size--default);
    line-height: var(--brand-line-height--large);
  }
  .inputWrapper {
    position: relative;
    .calendarIcon {
      position: absolute;
      top: 5px;
      right: 8px;
    }
    .calendarIconmd {
      position: absolute;
      top: 8px;
      right: 10px;
    }
    .calendarIconlg {
      position: absolute;
      top: 11px;
      right: 12px;
    }
  }
  .rightIcon {
    display: inline-block;
    flex-shrink: 0;
    margin-top: 2px;
  }
  .warningIcon {
    display: inline-block;
    flex-shrink: 0;
    margin-top: 2px;
  }
  .inputField:focus-visible {
    border-radius: 0.6rem;
    border: 1px solid var(--brand-color-secondary-active-yellow-1) !important;
    color: var(--brand-color-black);
    outline: none !important;
  }
  .inputField:disabled {
    background: var(--brand-color-cool-blue);
    border-radius: 4px;
    border: none;
  }
  .inputSuccess {
    border: 1px solid var(--brand-color-success-green-2);
  }
  .inputError {
    border: 1px solid var(--brand-color-warning-dark-coral);
    color: var(--brand-color-warning-dark-coral);
  }
  .helpertext {
    font-style: normal;
    font-weight: var(--brand-font-weight-600);
    font-size: var(--brand-font-size--10);
    line-height: var(--brand-line-height--small);
    letter-spacing: 0.001em;
    color: var(--brand-color-black);
    margin-top: 4px;
    display: flex;
    gap: 6px;
  }
  .helpertextmd {
    font-weight: var(--brand-font-weight-600);
    font-size: var(--brand-font-size--extra-small);
    line-height: var(--brand-line-height--medium);
  }
  .helpertextlg {
    font-weight: var(--brand-font-weight-600);
    font-size: var(--brand-font-size--extra-small);
    line-height: var(--brand-line-height--medium);
  }
  .helpertextError {
    color: var(--brand-color-warning-dark-coral);
  }
}

.dateRangeUiWrapper {
  background: var(--brand-color-background-white);
  border-radius: 4px;
  position: absolute;
  z-index: 999;
  @include respond(md) {
    width: 608px;
    max-height: 346px;
    padding-bottom: 10px;
  }
}
