@import "../../../../assets/scss/abstracts/mixins";

.modalHeaderTitle {
  font-weight: var(--brand-font-weight-700);
  font-size: var(--brand-font-size--default);
  line-height: var(--brand-line-height--m-large);
  padding: 0 !important;
  letter-spacing: -0.001em;
  font-family: var(--brand-font-family-primary);
  display: flex;
  justify-content: center;
  width: 100%;
  @include respond(md) {
    font-size: var(--brand-font-size--22);
    font-weight: var(--brand-font-weight-700);
    line-height: var(--brand-line-height--26);
    justify-content: start;
  }
}

.modalHeaderTitleInformative {
  justify-content: start;
  font-size: var(--brand-font-size--large);
  @include respond(md) {
    font-size: var(--brand-font-size--22);
  }
}

.dialogTitleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  padding: 10px 16px;
  @include respond(md) {
    min-height: 60px;
    padding-left: 40px;
    padding-right: 24px;
  }
}

.dialogTitleHeaderInformative {
  padding: 17px 24px 17px 19px;
  max-height: 40px;
  @include respond(md) {
    min-height: 60px;
    padding-left: 40px;
    padding-right: 24px;
  }
}

.closeIcon {
  font-size: 4rem !important;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: var(--brand-color-primary-background);
  width: 18px;
  height: 18px;
}

.modalCloseIconDimension {
  width: 18px !important;
  height: 18px !important;
}

.closeIconInformative {
  width: 16px;
  height: 16px;
  @include respond(md) {
    width: 18px;
    height: 18px;
  }
}

.closeBtn {
  display: none;
  @include respond(md) {
    display: inline;
  }
}

.closeBtnInformative {
  display: inline;
}

.closeIcon:hover {
  color: var(--brand-color-background-light-slate);
}

.dialogAction {
  padding: 0 !important;
}

.dialogContentWrapper {
  padding: 24px 16px 9px 16px !important;
  @include respond(md) {
    padding: 24px 40px !important;
  }
}

.dialogContentWrapperInformative {
  padding: 0 !important;
}

.footerWrapper {
  width: 100%;
  padding: 15px 16px;
  display: flex;
  border-top: 0px solid transparent;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  @include respond(md) {
    border-top: 1px solid var(--brand-color-grey-scale-cool-1);
    justify-content: end;
    flex-direction: row;
    gap: 16px;
    padding: 15px 24px;
  }
}

.centerAlign {
  justify-content: center;
}

.mcpdialogWrapper {
  .dialogcontent {
    max-height: calc(100vh - 24vh);
    min-height: calc(100vh - 78vh);
    padding: 0;
  }

  h2 {
    padding: 0 !important;
  }

  .dialogTitleHeader {
    background: var(--brand-color-grey-scale-cool-2) !important;
  }

  svg {
    width: 26px;
  }
}

@media (max-width: 764px) {
  .mcpdialogWrapper {
    top: 40px !important;

    .dialogcontent {
      max-height: inherit;
      min-height: inherit;
      padding: 0;
    }
  }

  .ModalBackArrow {
    padding: 0 !important;
    height: 20px;
    color: var(--brand-color-background-light-slate);
    max-width: 26px;
    min-width: 26px;
  }
}
