@import "../../../assets/scss/abstracts/_mixins.scss";

/* Secondary Navigation CSS starts here. */
.secondaryNav {
  min-height: 44px;
  box-shadow: 0 4px 8px rgba(38, 44, 54, 0.15);
  display: flex;
  justify-content: center;
  background-color: var(--brand-color-background-white);
  margin-bottom: 6px;
}

.secondaryNavNoShadaow {
  box-shadow: none;
}

.secondaryNavPanel {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.secondaryNavPanel::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.secondaryNavPanel {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.secondaryNavPanel > ul {
  display: flex;
  list-style-type: none;
  margin: 0 4px;
}

.secondaryNavPanel > ul > li {
  float: left;
}

.tab {
  padding: 14px 8px 12px;
  color: var(--brand-color-black);
  font-size: var(--brand-font-size--10);
  font-weight: var(--brand-font-weight-600);
  white-space: nowrap;
  line-height: var(--brand-line-height--small);
  letter-spacing: 0.05em;
  text-decoration: none;
  text-decoration-color: transparent;
  display: block;
  margin: 2px 0;

  @include respond(sm) {
    padding: 14px 12px 12px;
  }

  @include respond(md) {
    padding: 12px 16px;
    font-size: var(--brand-font-size--small);
    font-weight: var(--brand-font-weight-600);
    line-height: var(--brand-line-height--large);
    letter-spacing: 0.04em;
  }
}

.tab--active {
  color: var(--brand-color-font-black);
  font-weight: var(--brand-font-weight-700);
  text-decoration: underline;
  text-decoration-color: var(--brand-color-secondary);
  text-underline-offset: 12px;
  text-decoration-thickness: 4px;
}

.leftScrollButton {
  position: absolute;
  left: 0;
  height: 40px;
  align-items: center;
  background: linear-gradient(90deg, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  padding: 15px 8px;
  z-index: 999;
  color: var(--brand-color-primary-background);
  border: 0px;
}

.rightScrollButton {
  position: absolute;
  border: 0px;
  right: 0;
  height: 40px;
  align-items: center;
  background: linear-gradient(270deg, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  padding: 15px 8px;
  z-index: 999;
  color: var(--brand-color-primary-background);
}

.leftPadding {
  padding-left: 24px;
}

.rightPadding {
  padding-right: 24px;
}

.justify-left {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: end;
}

/* Secondary Navigation CSS ends here. */
